<h1>Add a dose!</h1>
<!-- POST cocktails/3/dose -->
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add Dose", class: "btn btn-primary" %>
<% end %>